.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* font-size: 18px; */
    
}

.nav-link.active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */    
}

.nav-color{
    background-color: #0F0F0F;
    transition: all ease-in-out 0.3s;
}

.bg-transparent{
    transition: all ease-in-out 0.3s; 
}

footer {
    width: 100%;
    height: 200px;
    background: #0F0F0F;
}

.copyright {
    bottom: 1%;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.copyright a{
   font-weight: 700; 
}
